<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>login</title>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> 

  </head>  
<body>  
    <div dir="rtl" class="container" style="width:30%;">
      <h1 class="text-danger">صفحه ی ورود به سایت </h1>
      <form action="/save" method="post">  
        <div class="form-group">  
          <label for="email">ایمیل :</label>  
          <input type="email" class="form-control" id="email">  
        </div>  
        <div class="form-group">  
          <label for="pwd">رمز عبور :</label>  
          <input type="password" class="form-control" id="pwd">  
        </div>  
        <div class="checkbox">  
          <label><input type="checkbox"> به خاطر بسپار</label>  
        </div>  
        <button type="submit" class="btn btn-primary">ثبت</button>  
      </form> 
    </div>
</body>  
</html>  