<nav class="navbar navbar-expand-lg" style='background-color: #e3f2fd;'>
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="{% url 'mainpage' %}">OmidHosseini's Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blogs' %}" target="_blank">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" target="_blank">login</a>
          </li>
          <li class="nav-item dropdown h0mouse">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reference
            </a>
            <ul class="dropdown-menu hmouse" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">bootstrap website</a></li>
              <li><a class="dropdown-item" href="https://getbootstrap.com/docs/5.2/getting-started/introduction/" target="_blank">bootstrap documentation</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://docs.djangoproject.com/en/4.0/" target="_blank">django documentation</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin" target="_blank">admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="test" target="_blank">Test HTML</a>
          </li>
          <li class="nav-item mx-4 ">
            <div class="nav-link text-black" href="">dear <span class="text-success">{{ request.session.user_name }}</span> welcome to site.</div>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>