<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if condition</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
        <div class="container">
            <h1>This is step1 action</h1>
            <h2>We are going to show how work Template language </h2>
            <ul>
                <li>{{ name }}</li>
                <li>{{ age }}</li>
            </ul>

            <div>
                <span class="text-info">this section show how if condtion working :</span>
                    
                    {% if age > 20 %}

                    <h3 class="text-danger">this age over 20 years old</h3>
                        
                    {% endif %}
                        
            </div>
            <br/>
            <br/>
            <br/>
            <div>
                <span class="text-info">this section show how if-else condtion working :</span>
                    
                    {% if age < 20 %}
                        <h3 class="text-danger">this age <b>UNDER</b> 20 years old</h3>
                        
                    {% elif name == 'omid' %}
                        <h3 class="text-danger">You are Omid</h3>
                    
                    {% else %}
                        <h3 class="text-danger">Wowwww ....!</h3>

                    {% endif %}
                        
            </div>


        </div>


</body>
</html>