{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Activate Bootstrap Dropdown with Hover</title>
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/css/linkHover.css' %}">

<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/myjs.js' %}"></script>
<style>
    div {
        border: 1px dashed lightblue;
      }



</style>

</head>
<body>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Inbox</a>
                        <a href="#" class="dropdown-item">Sent</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                    </div>
                </div>

            </div>
        </div>
    </nav> -->



<!-- 
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
      
      <a class="Alink" href="">Hover This Link</a>


      <div class="col-md-12">
        <div class="row grid">
          <div class="col-xs-12 col-md-6 col-lg-3">Card 1</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 2</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 3</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 4</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 5</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 6</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 7</div>
          <div class="col-xs-12 col-md-6 col-lg-3">Card 8</div>
        </div>
      </div>






</body>
</html>



